.navbar {
    background-color: #343434;
}

.navbar .navbar-brand{
    color: #f3f3f3;

}

.navbar .nav-link{
    color:#f3f3f3;
    margin-right: 20px;
}

.createTaskButton {
    background-color: #8b0000;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 10px;
  }
  

/* @media (max-width: 576px){
    .navbar .nav-link {
        margin-right: 5px;
    }
} */